* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  background: rgb(58, 159, 198);
  background: linear-gradient(
    135deg,
    rgba(58, 159, 198, 1) 7%,
    rgba(14, 9, 107, 1) 99%
  );
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  align-items: center;
}

.search-box {
  position: relative;
  margin-top: 3.2rem;
}

.search-box__input:focus,
.search-box__input:active,
.search-box__input {
  width: 35rem;
  background: rgb(56, 56, 56);
  background: linear-gradient(
    267deg,
    rgba(56, 56, 56, 1) 7%,
    rgba(78, 78, 78, 1) 99%
  );
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  height: 1.8rem;
  border-radius: 5rem;
  padding: 1.8rem 1.2rem;
}

.search-box__icon {
  color: #999;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.4rem;
}

.weather-card {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 35rem;
  padding: 3rem;
  background: rgba(29, 29, 29);
  background: linear-gradient(
    27deg,
    rgba(29, 29, 29, 1) 7%,
    rgba(78, 78, 78, 1) 99%
  );
  margin: 0rem auto;
  border-radius: 11px;
}

.weather-card__city-name {
  grid-column: 1/2;
  font-size: 1.4rem;
}

.weather-card__time {
  grid-column: 2/3;
  justify-self: self-end;
  font-size: 1.4rem;
}

.weather-condition {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
  padding-bottom: 4.6rem;
  margin-bottom: 3.2rem;
}

.weather-card__precipitation,
.weather-card__wind-speed,
.weather-card__range-temp {
  grid-column: 1/2;
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  font-weight: 500;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-card__icon {
  opacity: 0.6;
  font-size: 1.8rem;
}

.weather-card__cur-temp {
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 3/6;
  align-self: center;
  justify-self: center;
  font-size: 5rem;
}

sup {
  font-size: 60%;
}
